In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pickle
import pandas as pd
import os

# DivRank results

In [5]:
name_output_dir = 'results/divrank_results_mitigation'

for dataset_name in ['law_school', 'compas-poc', 'german', 'artificial_1']:

        input_dir = os.path.join(name_output_dir, dataset_name)
        with open(os.path.join(input_dir, f'{dataset_name}_divrank_results_mitigation.pickle'), 'rb') as fp:
                ranking_results = pickle.load( fp)


        from utils_evaluation import print_table_ranking_res

        r = pd.DataFrame(ranking_results).T
        print(dataset_name)
        r_print = print_table_ranking_res(r)
        display(r_print)

        with open(os.path.join(input_dir, f'{dataset_name}_divrank_results_mitigation_time.pickle'), 'rb') as fp:

                divrank_time = pickle.load( fp)
        df_divrank_time = pd.DataFrame.from_dict(divrank_time, orient='index', columns = ['time'])
        display(df_divrank_time)

        print(f"Max for {dataset_name}:  {df_divrank_time['time'].max():.2f}\n")

law_school

,method,protected attributes,protected values,#posdiv,#negdiv,minΔ,maxΔ,gini,kendall tau,rank gain,rank drop,ndcgLoss
original - div-mit - score : sex,original,sex,-,1,1,-0.49,0.38,0.12,1.00,0,0,0.00
div-mit - score : sex,div-mit,sex,-,0,0,-0.00,0.00,0.12,0.98,938,-760,0.00
original - div-mit - score : race,original,race,-,1,5,-7.35,0.76,0.12,1.00,0,0,0.00
div-mit - score : race,div-mit,race,-,0,0,-0.22,0.07,0.13,0.89,11340,-1006,0.03
"original - div-mit - score : sex, race",original,"race, sex",-,4,11,-7.70,0.96,0.12,1.00,0,0,0.00
"div-mit - score : sex, race",div-mit,"race, sex",-,1,0,-0.24,0.15,0.13,0.88,12504,-1559,0.03

                                  time
div-mit - score : sex         4.185535
div-mit - score : race        6.297887
div-mit - score : sex, race  13.235338

Max for law_school:  13.24

compas-poc

,method,protected attributes,protected values,#posdiv,#negdiv,minΔ,maxΔ,gini,kendall tau,rank gain,rank drop,ndcgLoss
original - div-mit - score : sex,original,sex,-,1,1,-0.01,0.05,0.19,1.00,0,0,0.00
div-mit - score : sex,div-mit,sex,-,0,0,-0.00,0.00,0.19,0.94,359,-1163,0.00
original - div-mit - score : age_cat,original,age_cat,-,1,1,-0.16,0.15,0.19,1.00,0,0,0.00
div-mit - score : age_cat,div-mit,age_cat,-,1,0,-0.01,0.02,0.14,0.71,2566,-1616,0.05
original - div-mit - score : race,original,race,-,1,1,-0.04,0.07,0.19,1.00,0,0,0.00
div-mit - score : race,div-mit,race,-,0,0,-0.00,0.00,0.19,0.87,886,-1048,0.00
"original - div-mit - score : sex, age_cat, race",original,"age_cat, race, sex",-,19,14,-0.18,0.21,0.19,1.00,0,0,0.00
"div-mit - score : sex, age_cat, race",div-mit,"age_cat, race, sex",-,8,0,-0.01,0.08,0.14,0.68,2598,-1494,0.03

                                           time
div-mit - score : sex                  0.601528
div-mit - score : age_cat              1.968708
div-mit - score : race                 0.544913
div-mit - score : sex, age_cat, race  22.020267

Max for compas-poc:  22.02

german

,method,protected attributes,protected values,#posdiv,#negdiv,minΔ,maxΔ,gini,kendall tau,rank gain,rank drop,ndcgLoss
original - div-mit - score : sex,original,sex,-,0,1,-0.14,0.06,0.46,1.00,0,0,0.0
div-mit - score : sex,div-mit,sex,-,0,0,-0.00,0.00,0.43,0.91,147,-83,0.0
original - div-mit - score : age,original,age,-,0,0,-0.19,0.06,0.46,1.00,0,0,0.0
div-mit - score : age,div-mit,age,-,0,0,-0.01,0.04,0.45,0.95,208,-30,0.0
"original - div-mit - score : sex, age",original,"age, sex",-,0,2,-0.26,0.15,0.46,1.00,0,0,0.0
"div-mit - score : sex, age",div-mit,"age, sex",-,0,0,-0.13,0.13,0.45,0.96,250,-21,0.0

                                time
div-mit - score : sex       0.438692
div-mit - score : age       0.380098
div-mit - score : sex, age  0.271598

Max for german:  0.44

artificial_1

,method,protected attributes,protected values,#posdiv,#negdiv,minΔ,maxΔ,gini,kendall tau,rank gain,rank drop,ndcgLoss
original - div-mit - score : a,original,a,-,0,1,-0.84,0.82,0.31,1.00,0,0,0.0
div-mit - score : a,div-mit,a,-,0,0,-0.00,0.00,0.31,0.98,178,-204,0.0
original - div-mit - score : b,original,b,-,0,0,-0.43,0.45,0.31,1.00,0,0,0.0
div-mit - score : b,div-mit,b,-,0,0,-0.00,0.00,0.31,1.00,91,-109,0.0
original - div-mit - score : c,original,c,-,1,1,-2.64,2.65,0.31,1.00,0,0,0.0
div-mit - score : c,div-mit,c,-,0,0,-0.00,0.00,0.30,0.94,402,-673,0.0
original - div-mit - score : d,original,d,-,0,0,-0.24,0.24,0.31,1.00,0,0,0.0
div-mit - score : d,div-mit,d,-,0,0,-0.00,0.00,0.31,1.00,103,-95,0.0
original - div-mit - score : e,original,e,-,0,0,-0.15,0.15,0.31,1.00,0,0,0.0
div-mit - score : e,div-mit,e,-,0,0,-0.00,0.00,0.31,1.00,107,-92,0.0
"original - div-mit - score : a, b, c, d, e",original,"a, b, c, d, e",-,57,86,-5.28,7.00,0.31,1.00,0,0,0.0
"div-mit - score : a, b, c, d, e",div-mit,"a, b, c, d, e",-,12,0,-1.61,3.83,0.29,0.94,746,-703,0.0

                                      time
div-mit - score : a               1.097112
div-mit - score : b               0.850346
div-mit - score : c               1.082634
div-mit - score : d               0.931070
div-mit - score : e               0.855978
div-mit - score : a, b, c, d, e  36.733578

Max for artificial_1:  36.73

# Feldman results

In [6]:
name_output_dir = 'results/feldman_results_mitigation'

for dataset_name in ['law_school', 'compas-poc', 'german', 'artificial_1']:

        input_dir = os.path.join(name_output_dir, dataset_name)
        if os.path.isfile(os.path.join(input_dir, f'{dataset_name}_feldman_results_mitigation.pickle')):
                with open(os.path.join(input_dir, f'{dataset_name}_feldman_results_mitigation.pickle'), 'rb') as fp:
                        ranking_results = pickle.load( fp)


                from utils_evaluation import print_table_ranking_res

                r = pd.DataFrame(ranking_results).T
                print(dataset_name)
                r_print = print_table_ranking_res(r)
                display(r_print)

                with open(os.path.join(input_dir, f'{dataset_name}_feldman_results_mitigation_time.pickle'), 'rb') as fp:

                        res_time = pickle.load( fp)
                df_res_time = pd.DataFrame.from_dict(res_time, orient='index', columns = ['time'])
                display(df_res_time)
                print(f"Max for {dataset_name}:  {df_res_time['time'].max():.2f}\n")
        else:
                print(f'{dataset_name} not available')

law_school

,method,protected attributes,protected values,#posdiv,#negdiv,minΔ,maxΔ,gini,kendall tau,rank gain,rank drop,ndcgLoss
feldman - score : race_Black_21791,feldman,race,Black,1,4,-4.30,0.30,0.11,0.92,12514,-769,0.0
feldman - score : sex_female_21791,feldman,sex,female,0,0,-0.05,0.06,0.12,0.97,1820,-1362,0.0
"feldman - score : race_[Asian, Mexican, Hispanic, Other, Black, Puertorican, Amerindian]_21791",feldman,race,"[Asian, Mexican, Hispanic, Other, Black, Puert...",3,1,-2.52,2.74,0.13,0.89,8115,-1358,0.0
"feldman - score : race_sex_[Black], [female]_21791",feldman,"race, sex","[Black], [female]",3,11,-7.07,0.67,0.11,0.95,12817,-486,0.0
"feldman - score : race_sex_[Asian, Mexican, Hispanic, Other, Black, Puertorican, Amerindian], [female]_21791",feldman,"race, sex","[Asian, Mexican, Hispanic, Other, Black, Puert...",5,8,-7.19,3.21,0.11,0.93,8536,-732,0.0

                                                        time
feldman - score : race_Black_21791                  0.890460
feldman - score : sex_female_21791                  4.416688
feldman - score : race_[Asian, Mexican, Hispani...  2.010187
feldman - score : race_sex_[Black], [female]_21791  0.599724
feldman - score : race_sex_[Asian, Mexican, His...  1.183509

Max for law_school:  4.42

compas-poc

,method,protected attributes,protected values,#posdiv,#negdiv,minΔ,maxΔ,gini,kendall tau,rank gain,rank drop,ndcgLoss
feldman - score : sex_Female_6172,feldman,sex,Female,0,0,-0.00,0.00,0.20,0.95,146,-618,0.00
feldman - score : age_cat_25 - 45_6172,feldman,age_cat,25 - 45,1,1,-0.15,0.16,0.21,0.95,403,-402,0.00
feldman - score : age_cat_Less than 25_6172,feldman,age_cat,Less than 25,1,1,-0.04,0.10,0.17,0.80,2484,-694,0.03
"feldman - score : age_cat_[25 - 45, Less than 25]_6172",feldman,age_cat,"[25 - 45, Less than 25]",1,1,-0.06,0.02,0.10,0.81,607,-2292,0.00
feldman - score : race_protected_6172,feldman,race,protected,0,0,-0.00,0.00,0.16,0.87,439,-849,0.00
"feldman - score : age_cat_race_sex_Less than 25, protected, Female_6172",feldman,"age_cat, race, sex","Less than 25, protected, Female",19,14,-0.19,0.20,0.19,0.98,2455,-83,0.01
"feldman - score : age_cat_race_sex_Less than 25, Caucasian, Female_6172",feldman,"age_cat, race, sex","Less than 25, Caucasian, Female",19,13,-0.19,0.21,0.19,0.99,2553,-175,0.00
"feldman - score : age_cat_race_sex_Less than 25, protected, Male_6172",feldman,"age_cat, race, sex","Less than 25, protected, Male",18,14,-0.16,0.18,0.17,0.87,2598,-402,0.02

                                                        time
feldman - score : sex_Female_6172                   0.735558
feldman - score : age_cat_25 - 45_6172              1.547361
feldman - score : age_cat_Less than 25_6172         0.663001
feldman - score : age_cat_[25 - 45, Less than 2...  2.203943
feldman - score : race_protected_6172               1.738702
feldman - score : age_cat_race_sex_Less than 25...  0.225674
feldman - score : age_cat_race_sex_Less than 25...  0.110016
feldman - score : age_cat_race_sex_Less than 25...  0.501557

Max for compas-poc:  2.20

german

,method,protected attributes,protected values,#posdiv,#negdiv,minΔ,maxΔ,gini,kendall tau,rank gain,rank drop,ndcgLoss
feldman - score : sex_female_999,feldman,sex,female,0,0,-0.00,0.00,0.45,0.94,91,-41,0.01
feldman - score : age_young_999,feldman,age,young,0,0,-0.12,0.14,0.51,0.96,102,-26,0.01
"feldman - score : age_sex_young, female_999",feldman,"age, sex","young, female",0,2,-0.29,0.12,0.46,0.97,78,-22,0.00
"feldman - score : age_sex_adult, female_999",feldman,"age, sex","adult, female",0,0,-0.13,0.13,0.46,0.98,162,-11,0.01
"feldman - score : age_sex_elder, female_999",feldman,"age, sex","elder, female",0,1,-0.26,0.14,0.46,0.99,194,-7,0.00
"feldman - score : age_sex_young, male_999",feldman,"age, sex","young, male",0,0,-0.16,0.24,0.48,0.93,80,-59,0.01
"feldman - score : age_sex_elder, male_999",feldman,"age, sex","elder, male",0,2,-0.25,0.07,0.45,0.99,46,-82,0.00

                                                 time
feldman - score : sex_female_999             0.061853
feldman - score : age_young_999              0.142985
feldman - score : age_sex_young, female_999  0.045458
feldman - score : age_sex_adult, female_999  0.018644
feldman - score : age_sex_elder, female_999  0.013166
feldman - score : age_sex_young, male_999    0.107129
feldman - score : age_sex_elder, male_999    0.018637

Max for german:  0.14

artificial_1

,method,protected attributes,protected values,#posdiv,#negdiv,minΔ,maxΔ,gini,kendall tau,rank gain,rank drop,ndcgLoss
feldman - score : a_1_10000,feldman,a,1,0,0,-0.02,0.02,0.32,0.99,389,-380,0.00
feldman - score : b_1_10000,feldman,b,1,0,0,-0.04,0.04,0.33,0.98,367,-381,0.00
feldman - score : c_1_10000,feldman,c,1,0,0,-0.01,0.01,0.33,0.94,1041,-1065,0.09
feldman - score : d_1_10000,feldman,d,1,0,0,-0.03,0.03,0.31,1.00,230,-170,0.00
feldman - score : e_1_10000,feldman,e,1,0,0,-0.05,0.05,0.31,1.00,252,-173,0.00
"feldman - score : a_b_1, 1_10000",feldman,"a, b","1, 1",0,0,-0.56,0.61,0.32,0.97,1110,-388,0.05
"feldman - score : a_b_c_1, 1, 1_10000",feldman,"a, b, c","1, 1, 1",6,10,-3.37,4.68,0.32,0.98,1384,-371,0.02
"feldman - score : a_b_c_d_e_1, 1, 1, -, -_10000",feldman,"a, b, c, d, e","1, 1, 1, -, -",47,70,-5.61,6.67,0.32,0.98,1384,-371,0.02
"feldman - score : a_b_c_d_e_1, 1, 1, 1, 1_10000",feldman,"a, b, c, d, e","1, 1, 1, 1, 1",54,80,-5.38,6.89,0.32,0.99,1409,-301,0.01

                                                     time
feldman - score : a_1_10000                      1.313789
feldman - score : b_1_10000                      1.355734
feldman - score : c_1_10000                      1.398219
feldman - score : d_1_10000                      1.328875
feldman - score : e_1_10000                      1.354891
feldman - score : a_b_1, 1_10000                 0.866549
feldman - score : a_b_c_1, 1, 1_10000            0.502953
feldman - score : a_b_c_d_e_1, 1, 1, -, -_10000  0.509677
feldman - score : a_b_c_d_e_1, 1, 1, 1, 1_10000  0.243718

Max for artificial_1:  1.40

In [ ]:
r['ndcgLoss'].values

array([9.91926771831686e-08, -1.9109239501879927e-07, 0.0,
       -3.9363483073096006e-07, -2.8575738353353586e-07, 0.0, 0.0, 0.0],
      dtype=object)

# CFA

In [3]:
name_output_dir = 'results/cfa_results_mitigation'

for dataset_name in ['law_school', 'compas-poc', 'german', 'artificial_1']:

        input_dir = os.path.join(name_output_dir, dataset_name)

        if os.path.isfile(os.path.join(input_dir, f'{dataset_name}_cfa_results.pickle')):
            with open(os.path.join(input_dir, f'{dataset_name}_cfa_results.pickle'), 'rb') as fp:
                    ranking_results = pickle.load( fp)


            from utils_evaluation import print_table_ranking_res

            r = pd.DataFrame(ranking_results).T
            print(dataset_name)
            r_print = print_table_ranking_res(r)
            display(r_print)


            with open(os.path.join(input_dir, f'{dataset_name}_cfa_time.pickle'), 'rb') as fp:

                    res_time = pickle.load( fp)
            df_res_time = pd.DataFrame.from_dict(res_time, orient='index', columns = ['time'])
            display(df_res_time)
            print(f"Max for {dataset_name}:  {df_res_time['time'].max():.2f} s\n   - {df_res_time['time'].max()/60:.2f} m")

        else:
            print(f'{dataset_name} NOT AVAILABLE')

law_school

,method,protected attributes,protected values,#posdiv,#negdiv,minΔ,maxΔ,gini,kendall tau,rank gain,rank drop,ndcgLoss
"cfa - sex - female, male",cfa$\theta$,sex,"female, male",0,0,-0.02,0.02,0.09,0.98,937,-758,0.0
"cfa - race - Black, Other-candidates",cfa$\theta$,race,"Black, Other-candidates",1,5,-4.75,0.35,0.09,0.93,11526,-714,0.0
"cfa - race - Amerindian, Asian, Black, Hispanic, Mexican, Other, Puertorican, White",cfa$\theta$,race,"Amerindian, Asian, Black, Hispanic, Mexican, O...",0,1,-0.35,0.04,0.09,0.88,11276,-1237,0.0
"cfa - race, sex - Amerindian, female, Asian, female, Black, female, Hispanic, female, Mexican, female, Other, female, Other-candidates, Puertorican, female",cfa$\theta$,"race, sex","Amerindian, female, Asian, female, Black, fema...",2,8,-7.79,0.61,0.09,0.93,11537,-805,0.0
"cfa - race, sex - Amerindian, female, Amerindian, male, Asian, female, Asian, male, Black, female, Black, male, Hispanic, female, Hispanic, male, Mexican, female, Mexican, male, Other, female, Other, male, Puertorican, female, Puertorican, male, White, female, White, male",cfa$\theta$,"race, sex","Amerindian, female, Amerindian, male, Asian, f...",0,1,-0.37,0.05,0.09,0.87,11790,-1701,0.0

                                                          time
cfa - sex - female, male                            125.360857
cfa - race - Black, Other-candidates                130.584445
cfa - race - Amerindian, Asian, Black, Hispanic...  447.756734
cfa - race, sex - Amerindian, female, Asian, fe...  459.291563
cfa - race, sex - Amerindian, female, Amerindia...  839.060952

Max for law_school:  839.06 s
   - 13.98 m
compas-poc

,method,protected attributes,protected values,#posdiv,#negdiv,minΔ,maxΔ,gini,kendall tau,rank gain,rank drop,ndcgLoss
"cfa - sex - Female, Male",cfa$\theta$,sex,"Female, Male",0,0,-0.00,0.00,0.19,0.94,633,-640,0.00
"cfa - race - Caucasian, protected",cfa$\theta$,race,"Caucasian, protected",0,0,-0.00,0.00,0.18,0.87,632,-907,0.00
"cfa - age_cat - Less than 25, Other-candidates",cfa$\theta$,age_cat,"Less than 25, Other-candidates",1,1,-0.04,0.11,0.17,0.81,2277,-740,0.03
"cfa - age_cat - 25 - 45, Other-candidates",cfa$\theta$,age_cat,"25 - 45, Other-candidates",1,1,-0.14,0.14,0.19,0.94,631,-633,0.00
"cfa - age_cat - 25 - 45, Greater than 45, Less than 25",cfa$\theta$,age_cat,"25 - 45, Greater than 45, Less than 25",0,0,-0.01,0.01,0.17,0.71,2359,-2313,0.03
"cfa - age_cat, race, sex - Female, Less than 25, protected, Other-candidates",cfa$\theta$,"age_cat, race, sex","Female, Less than 25, protected, Other-candidates",19,14,-0.17,0.19,0.18,0.97,2254,-638,0.01
"cfa - age_cat, race, sex - Caucasian, Female, Less than 25, Other-candidates",cfa$\theta$,"age_cat, race, sex","Caucasian, Female, Less than 25, Other-candidates",19,13,-0.17,0.19,0.18,0.98,2356,-635,0.00
"cfa - age_cat, race, sex - Less than 25, Male, protected, Other-candidates",cfa$\theta$,"age_cat, race, sex","Less than 25, Male, protected, Other-candidates",18,14,-0.15,0.18,0.18,0.87,2313,-653,0.02
"cfa - age_cat, race, sex - Caucasian, Female, Less than 25, Female, Less than 25, protected, Less than 25, Male, protected, Other-candidates",cfa$\theta$,"age_cat, race, sex","Caucasian, Female, Less than 25, Female, Less ...",19,11,-0.15,0.17,0.17,0.84,2341,-658,0.02
"cfa - age_cat, race, sex - 25 - 45, Male, protected, Caucasian, Female, Less than 25, Caucasian, Less than 25, Male, Female, Less than 25, protected, Less than 25, Male, protected, Other-candidates",cfa$\theta$,"age_cat, race, sex","25 - 45, Male, protected, Caucasian, Female, L...",9,8,-0.05,0.13,0.16,0.70,2454,-1388,0.03
"cfa - age_cat, race, sex - 25 - 45, Caucasian, Female, 25 - 45, Caucasian, Male, 25 - 45, Female, protected, 25 - 45, Male, protected, Caucasian, Female, Greater than 45, Caucasian, Female, Less than 25, Caucasian, Greater than 45, Male, Caucasian, Less than 25, Male, Female, Greater than 45, protected, Female, Less than 25, protected, Greater than 45, Male, protected, Less than 25, Male, protected",cfa$\theta$,"age_cat, race, sex","25 - 45, Caucasian, Female, 25 - 45, Caucasian...",0,0,-0.01,0.01,0.16,0.66,2340,-3369,0.03

                                                        time
cfa - sex - Female, Male                            0.495260
cfa - race - Caucasian, protected                   0.472828
cfa - age_cat - Less than 25, Other-candidates      0.446012
cfa - age_cat - 25 - 45, Other-candidates           0.466611
cfa - age_cat - 25 - 45, Greater than 45, Less ...  0.623787
cfa - age_cat, race, sex - Female, Less than 25...  0.418149
cfa - age_cat, race, sex - Caucasian, Female, L...  0.396973
cfa - age_cat, race, sex - Less than 25, Male, ...  0.435689
cfa - age_cat, race, sex - Caucasian, Female, L...  0.741770
cfa - age_cat, race, sex - 25 - 45, Male, prote...  1.079129
cfa - age_cat, race, sex - 25 - 45, Caucasian, ...  2.171269

Max for compas-poc:  2.17 s
   - 0.04 m
german

,method,protected attributes,protected values,#posdiv,#negdiv,minΔ,maxΔ,gini,kendall tau,rank gain,rank drop,ndcgLoss
"cfa - sex - female, male",cfa$\theta$,sex,"female, male",0,0,-0.01,0.00,0.45,0.94,609,-42,0.01
"cfa - age, sex - Other-candidates, adult, female, adult, male, elder, female, elder, male, female, young",cfa$\theta$,"age, sex","Other-candidates, adult, female, adult, male, ...",0,0,-0.02,0.01,0.45,0.92,613,-86,0.02

                                                         time
cfa - sex - female, male                             4.744995
cfa - age, sex - Other-candidates, adult, femal...  13.542478

Max for german:  13.54 s
   - 0.23 m
artificial_1

,method,protected attributes,protected values,#posdiv,#negdiv,minΔ,maxΔ,gini,kendall tau,rank gain,rank drop,ndcgLoss
"cfa - a, b, c, d, e - 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1",cfa$\theta$,"a, b, c, d, e","0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0...",0,0,-0.4,0.43,0.3,0.91,1297,-2158,0.07

                                                            time
cfa - a, b, c, d, e - 0, 0, 0, 0, 0, 0, 0, 0, 0...  26839.253572

Max for artificial_1:  26839.25 s
   - 447.32 m

# Sensitivity

In [ ]:
name_output_dir = 'Z_divrank_results_sensitivity'

In [ ]:
for dataset_name in ['law_school', 'compas-poc', 'german', 'artificial_1']:

        input_dir = os.path.join(name_output_dir, dataset_name)
        with open(os.path.join(input_dir, f'{dataset_name}_divrank_results_sensitivity.pickle'), 'rb') as fp:
                ranking_results = pickle.load( fp)


        from utils_evaluation import print_table_ranking_res

        r = pd.DataFrame(ranking_results).T
        print(dataset_name)
        r_print = print_table_ranking_res(r)
        display(r_print)

        with open(os.path.join(input_dir, f'{dataset_name}_divrank_results_sensitivity_time.pickle'), 'rb') as fp:

                divrank_time = pickle.load( fp)
        df_divrank_time = pd.DataFrame.from_dict(divrank_time, orient='index', columns = ['time'])
        display(df_divrank_time)

FileNotFoundError: [Errno 2] No such file or directory: 'output_results/divrank_results_mitigation/law_school/law_school_divrank_results_sensitivity.pickle'

In [ ]:
df_divrank_time['time']/60

div-mit - score - 0.001 : a, b, c, d, e    1.935017
div-mit - score - 0.005 : a, b, c, d, e    1.882941
div-mit - score - 0.01 : a, b, c, d, e     1.956764
div-mit - score - 0.1 : a, b, c, d, e      0.466788
div-mit - score - 0.2 : a, b, c, d, e      0.377976
div-mit - score - 0.3 : a, b, c, d, e      0.142345
Name: time, dtype: float64